block seo
meta(name="viewport",content="width=device-width,initial-scale=1")
// Twitter metas
meta(name="twitter:card",content="Twitterカードの種類")
// Facebook metas
meta(property="fb:admins",content="adminID（15文字の半角数字）")
meta(property="fb:app_id",content="App-ID（15文字の半角数字）")
link(rel="stylesheet",href="assets/css/bundle.css")
