block var
  - var metaTitle = 'Redux Sample'
  - var metaDescription = 'Description'
  - var metaCharset = 'UTF-8'
  - var pathRoot = '/'
  - var pathAssets = pathRoot + 'assets'
  - var pathCss = pathAssets + '/css'
  - var pathJs = pathJs + '/js'
<!DOCTYPE html>
html
  include _head
body
  include _header

  block contents

  include _footer
