doctype html
html
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="./assets/css/bundle.css")

    block title

  body
    include _header
    
    block content
    
    include _footer
